body {
	text-transform: none;
}

.marketing {
	color: white;
	text-shadow: 0 1px 3px #222;
	
	font-color: white;
	background: #202021 url("../img/coffee.jpg") no-repeat ;
	background-size: cover;
}

.centerContent {
	width: 80%;
	margin-top: 60px ;
	margin-bottom: 60px;
	margin-left: auto;
	margin-right: auto;
	border-style:solid;
    border-width:1px;
    min-width: 350px;
}
.container {
	width:80%
}

h1 {
	font-size: 5em;
	margin-top: 0px;
}

.marketFont {
	margin-top: 30px;
	font-size: 1.4em;
}

.navbar {
	width
}

.navbar-text {
	float:right;
}

@media screen and (max-width: 528px){
	h1 {
		font-size: 3em;
	}
}

#about {
	margin: 20px 40px;
	font-size: 1.2em;
}
#profilepic {
	height:150px;
}
.profile {
	max-height: 150px;
	width: 55%;
	margin-top: 20px ;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

#calendaroptions {
	height: 100px;
	background: #D6D6C2;
}

#calendaroptions .row h2 {
	text-align:center;
}

#calendarcontent {
	width:400px;
}
